body { /*body stylings*/
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #ffffff;
    color: #666666;
    font-family: "Roboto", sans-serif;

}

.material-icons-outlined { /*google icons stylings*/
    vertical-align:middle;
    line-height:1px;
    color:#af8b58;
}

/*several different text stylings*/
.text-primary {
    color:#666666;
}

.text-blue {
    color:blue;
}

.text-red {
    color:red;
}

.text-green {
    color:green;
}

.text-orange {
    color:orange;
}

.font-weight-bold {
    font-weight: bold;
}

.grid-container { /*grid stylings*/
    display:grid;
    margin:0;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
    "header header header header"
    "main main main main";
    height: 100vh;
}

.header { /*navbar stylings */
    grid-area: header;
    height:70px;
    background-color: #ffffff;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    }

.main-container { /*main section stylings*/
    grid-area: main;
    overflow-y:auto;
    padding: 20px 20px;
}

/*several different title stylings*/
.main-title { 
    display:flex;
    justify-content: space-between;
}

.main-title > p {
    font-size: 20px;
}

/*main section card stylings*/
.main-cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:25px;
    background-color:  #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius:5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    border-left: 7px solid #af8b58;

}

.card:first-child {
    border-left: 7px solid #af8b58;
}

.card:nth-child() {
    border-left: 7px solid #af8b58;
}

.card:nth-child(3) {
    border-left: 7px solid #af8b58;
}

.card:nth-child(4) {
    border-left: 7px solid #af8b58;
}

.card > span {
    font-size: 20px;
    font-weight:600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > p {
    font-size:18px;
}

.card-inner > span {
    font-size: 35px;
}

/*chart stylings*/
.charts {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} 

.charts-card {
    background-color: white;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border:1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px;
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
    font-weight:600;
}

/*media queries*/ 

/*medium 992px*/ 
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header" "main";
    }
}

/*small 768px*/ 
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap:10px;
        margin-bottom: 0;
    }
    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

/*xsmall 576px*/ 
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}